@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'mixins';



.header {
  &__wrapper {
    background-color: $dark-800;
    padding: 17px 0 15px 0;
    color: $white;
  }

  &__inner {
    @include flex-all-sb
  }
}

.header {

  &__info-link {
    background-position: left center;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &:hover {
      opacity: .7;
      transition: opacity .3s ease;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
      transition: background-color .3s ease, box-shadow .3s ease;
    }

    &:active {
      color: $green-200;
      transition: color .3s ease;
    }
  }

  &__info--delivery {
    background-image: url('../images/sprite.svg#icon-address');
    background-size: 32px;
    padding-left: 44px;
  }

  &__info-caption {
    @extend %opensans-700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__info--hotline {
    background-image: url('../images/sprite.svg#icon-tel');
    padding-left: 35px;
  }
}

.menu {
  &__list {
    @include flex
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__list-link {
    @extend %opensans-700;
    font-size: 13px;
    text-transform: uppercase;

    &:hover {
      opacity: .7;
      transition: opacity .3s ease;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0 0 0 3px $green-100;
      border-radius: 3px;
      transition: background-color .3s ease, box-shadow .3s ease;
    }

    &:active {
      color: $green-200;
      transition: color .3s ease;
    }
  }
}



.user-nav {
  background-color: $green-900;
  padding: 25px 0;

  &__inner {
    @include flex-all-sb
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  &__btn {
    @extend %opensans-600;
    color: $christi;
    border: 1px solid transparent;
    border-radius: 6px 6px 0 0;
    background-color: $green-200;
    max-width: 250px;
    padding: 15px 38px 15px 61px;

  }


  &__content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    background-color: $white;
    border: 1px solid $gallery;
    border-radius: 0px 0px 6px 6px;
  }

  &__content--open {
    display: block;
  }


  &__content-item {
    padding-top: 15px;

    &:after {
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      width: 100%;
      background-color: rgba(193, 193, 193, 0.3);

    }
    
  }

  &__content-link {
    font-size: 16px;
    color: $dark;
    position: relative;
    padding-left: 25px;

  }

}








@import 'media';