<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a class="footer-top__logo logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="Логотип сайта ФрешОк" />
      </a>
    </div>

    <div class="footer-body">
      <div class="footer-body__newsletter">
        <p class="footer-body__text">Следите за нашими акциями</p>
        <form class="footer-body__form" action="#">
          <input
            class="footer-body__form-input"
            type="text"
            placeholder="email@email.com"
            required
          />
          <button class="footer-body__form-btn">Подписаться</button>
        </form>
      </div>

      <nav class="footer-menu">
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> О нас </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Контакты </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Публичная оферта </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Оплата и доставка </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Вакансии </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Акции </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Отзывы </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link" href="#"> Новости </a>
          </li>
        </ul>
      </nav>
      <div class="footer-contacts">
        <div class="footer-contacts__item">
          <span class="footer-contacts__text">Горячая линия</span>
          <a class="footer-contacts__phone" href="tel:+7907288365">+7 907 288 365</a>
        </div>
        <addres class="footer-contacts__addres">
          <p class="footer-contacts__addres-text">Санкт-Петербург, ул. Ленина, 1</p>
        </addres>
        <ul class="footer-contacts__social-list">
          <li class="footer-contacts__social-item">
            <a
              class="footer-contacts__social-link footer-contacts__social-link--facebook"
              href="#"
            ></a>
          </li>
          <li class="footer-contacts__social-item">
            <a
              class="footer-contacts__social-link footer-contacts__social-link--youtube"
              href="#"
            ></a>
          </li>
          <li class="footer-contacts__social-item">
            <a
              class="footer-contacts__social-link footer-contacts__social-link--telegram"
              href="#"
            ></a>
          </li>
          <li class="footer-contacts__social-item">
            <a
              class="footer-contacts__social-link footer-contacts__social-link--instagram"
              href="#"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__line"></div>
  <div class="container">
    <div class="footer-bottom">
      <div class="footer-bottom__copyright">
        <p class="footer-bottom__text">&copy; 2021 Фрешок</p>
      </div>
      <div class="footer-bottom__payment">
        <img class="footer-bottom__payment-img" src="../../images/visa.svg" alt="payment visa" />
        <img
          class="footer-bottom__payment-img"
          src="../../images/mastercard.svg"
          alt="payment mastercard"
        />
      </div>
    </div>
  </div>
</footer>
