<header class="header">
  <div class="header__wrapper">
    <div class="container">
      <div class="header__inner">
        <div class="header__info">
          <a class="header__info-link header__info--delivery" href="#">
            <span class="header__info-caption">адрес и&nbsp; время доставки</span>
          </a>
          <a class="header__info-link header__info--hotline" href="#">
            <span class="header__info-caption">горячая линия 24/7</span>
          </a>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">доставка</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">о&nbsp;нас</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">новости</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom__inner">
        <a class="logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="Логотип сайта ФрешОк" />
        </a>
        <div class="dropdown">
          <button class="dropdown__btn">Каталог продуктов</button>
          <ul class="dropdown__content">
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Овощи и&nbsp;фрукты</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Бакалея</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Молочные продукты</a>
            </li>
            <li class="dropdown__content-item dropdown__content-item--active">
              <a class="dropdown__content-link" href="#">Хлеб</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Мясо</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Колбаса</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Рыба</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Алкоголь</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Напитки</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Торты</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Сухие завтраки</a>
            </li>
            <li class="dropdown__content-item">
              <a class="dropdown__content-link" href="#">Чай, кофе</a>
            </li>
          </ul>
        </div>
        <form class="search__bar">
          <div class="search__wrapper">
            <input
              class="search__input"
              type="text"
              name="search"
              autocomplete="off"
              placeholder="Найти в магазине ..."
            />
            <button class="search__btn" type="submit">Поиск</button>
          </div>
        </form>
        <ul class="user-nav">
          <li class="user-nav__items">
            <a class="user-nav__link user-nav__link--user" href="#"></a>
          </li>
          <li class="user-nav__items">
            <a class="user-nav__link user-nav__link--favorite" href="#">
              <span class="user-nav__num">12</span>
            </a>
          </li>
          <li class="user-nav__items">
            <a class="user-nav__link user-nav__link--cart" href="#">
              <span class="user-nav__num">12</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
